body {
    background-color: rgb(245, 245, 245);
}

th {
    cursor: pointer;
}

hr {
    color: grey;
    border-color: grey;
    background-color: grey;
}

btn-padding {
    padding-right: 1.8em;
    padding-left: 1.8em;
}

.btn-largura-padrao {
    width: 10.0em !important;
}

.btn-xs {
    padding-right: 1.2em !important;
    padding-left: 1.2em !important;
}